@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

:root {
  --primary-color: #2bae66;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Spoqa Han Sans Neo", "sans-serif";
}

html,
body {
  margin: 0 auto;
  max-width: 1200px;
}

h1 {
  margin: 3rem;
  color: var(--primary-color);
  text-align: center;
}

/* form */
.search-box {
  display: flex;
  align-items: center;
  margin: auto;
  padding: 1.5rem;
  width: fit-content;
  background-color: var(--primary-color);
  border-radius: 0.5rem;
}

.search-box input {
  padding: 0.5rem;
  border: 0;
}

.search-btn {
  margin-left: 0.5rem;
  width: 1.875rem;
  width: 1.875rem;
  background: center / contain no-repeat url("../search.svg");
  cursor: pointer;
}

/* result */
.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 3rem auto;
  width: 1200px;
}

.result-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 1rem;
  border: 1px solid #2bae66;
  overflow: hidden;
  width: 180px;
  height: 300px;
  transition: all 0.3s ease-out;
}

.result-card:hover {
  transform: translateY(-1rem);
}

.book-title {
  margin: 0 10px 0 10px;
  overflow: hidden;
  height: 45px;
  text-align: center;
}

.book-img {
  width: 120px;
  height: 174px;
}

.book-img:hover {
  cursor: pointer;
}

.price {
  font-size: medium;
}

.zero {
  color: red;
}

.book-info {
  font-size: x-small;
  text-align: center;
}

/* arrow */
.move-page {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  margin: 40px auto 40px auto;
}

.move-page > img {
  width: 30px;
}

.backBtn:hover,
.nextBtn:hover {
  cursor: pointer;
  opacity: 0.5;
}

.query {
  width: 200px;
  height: 25px;
}

.author {
  display: block;
}

/* Mobile */
@media (max-width: 700px) {
  .container {
    max-width: 700px;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .container {
    max-width: 1120px;
  }
}
